* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --green: #00A63E;
    --dk1: #013223;
    --dk2: #006747;
    --text: #111111;
    --muted: #5C5C5C;
    --bg: #F2F2F2;
    --card: #FFFFFF;
    --line: #E7E9E8;
} */

html,
body {
    height: 100%;
}

body {
    font-family: "Hind Madurai", sans-serif;
    background: #F5FFF6;
}

.hind-madurai-light {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-madurai-regular {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hind-madurai-medium {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-madurai-semibold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-madurai-bold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ---------- Header ---------- */
.header-wrapper {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 60px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, .06); */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.header-left h2 {
    color: #006747;
    font-weight: bold;
    line-height: 1.05;
}

.header-right {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.top-right-btns1 {
    min-width: 120px;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0px;
    border-radius: 50px;
    background: rgba(65, 255, 107, .1);
    font-weight: 800;
    justify-content: center;

}

.top-right-btns2 {
    min-width: 130px;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0px;
    border-radius: 50px;
    background: #00A63E;
    color: #FFFFFF;
    font-weight: 800;
    justify-content: center;


}

.top-right-btns1 img {
    width: 30px;
    height: 30px;
}

#love-count {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#coin-count {
    color: black;
    font-size: 16px;
    font-weight: bold
}

#copy-count {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* Banner section */
.banner {
    width: 100%;
    background-color: #013223;
    text-align: center;
    color: #fff;
    padding: 26px 12px;
    /* background: linear-gradient(90deg, var(--dk1), var(--dk2), var(--dk1)); */
}

.banner-logo {
    width: 84px;
    height: 84px;
    object-fit: contain;
    margin-bottom: 8px;
}

.banner h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 6px;
}

.banner p {
    font-size: 15px;
    font-weight: 600;
    opacity: .95;
}